<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <h1>{{msg}}</h1>
        {{!-- <h2>Find your food desire here!</h2> --}}

        {{!-- <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form> --}}

        <h3>See what's hot right now:</h3>
        <br>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item favorite-list">
            <div class="list-left">
              <img src="{{this.image}}" alt="food picture" class="list-picture">
            </div>
            <div class="list-right">
              {{!-- <span class="label-name">Name:</span> --}}
              <div class="right-top">
                <div class="name">{{this.name}}</div>
                <div class="liked-by">
                  <span class="label">Liked by:</span>
                  <span class="fav number">{{this.favorites}}</span>
                </div>
              </div>

              <div class="right-mid">
                <div class="recipe-info">
                  <span class="label">Calories:</span>
                  <span class="number">{{this.calory}}</span>
                </div>
                <div class="recipe-info">
                  <span class="label">Time Required:</span>
                  <span class="time">{{this.minutes}}</span>
                </div>
                <div class="recipe-info">
                  <span class="label">Serves:</span>
                  <span class="number">{{this.serves}}</span>
                </div>
              </div>
              {{!-- <span class="label">Ingredients:</span> --}}
              {{!-- <span class="ingredients">{{this.ingredients}}</span> --}}
              <a href="{{this.process}}"><button class="detail">Let's cook!</button></a>
              <button data-recipeid="{{this.id}}" class="like">Like it <i class="far fa-star"></i></button>
            </div>
            {{!-- <a href="example/{{this.id}}">{{this.text}}</a> --}}
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
            {{!-- “Let's cook" Button --}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/singleRecipe.js"></script>
{{!--
<script src="/js/index.js"></script> --}}